html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.make-post-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
  
.make-post-button {
  width: 60px; /* Adjust as needed */
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.make-post-button:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
}
